<section >
    <header>
        <div class="barre-broser-media">
            <p>
                <span (click)="browseMediaServer(null)">Serveurs</span>
             <!--   <span *ngIf="ms" (click)="browseMediaServer(ms)">{{ms.name}}</span> -->
                <span *ngFor="let dir of breadcrumb"> <i class="fa fa-chevron-right" aria-hidden="true"></i> 
                   <span (click)="browse(dir)"><i class="fa fa-folder-open" aria-hidden="true"></i> 
                   {{dir.name}}</span> 
                </span>
                <br/>

            </p>
        </div>
        <a class="button button-back"  (click)="browseParent()"  *ngIf="breadcrumb && ms">
          <span class="icon">
            <i class="fa fa-reply"></i>
          </span>
          <span>{{getCurrentParentName()}}</span>
        </a>
       <!-- <span class="up" [class.active]="breadcrumb.length>0" (click)="browseParent()">
            <!--UP
            <iron-icon icon="icons:reply"></iron-icon>
        </span>-->
        <h1 class="title titre" *ngIf="ms && ms">{{getCurrentItemName()}}</h1>
        <h1 class="title titre margin-top-20" *ngIf="!ms">Serveurs</h1>
    </header>
    <section #rootSection style="position: relative;">
        <section #dataSection class="original">
            <section *ngIf="!ms" class="flex-media-broser">
                <div *ngFor="let server of devices" (click)="browseMediaServer(server)" class="data-directories">
                    <figure class="image is-128x128">
                        <img src="http://iconizer.net/files/Database/orig/Database_1.png" alt="">
                    </figure>
                    <div class="titre-directories">
                        <p class="title is-5 centrer">{{server.name}}</p>
                    </div>   
                </div>    
            </section>
            <section *ngIf="ms && data" class="flex-media-broser">
                <!-- ce bloc affiche tous les dossiers à chaque niveau de l'arborescence -->
                <div *ngFor="let dir of data.directories" (click)="browse(dir)" class="data-directories">
                        <figure class="image is-128x128">
                          <img src="http://www.icone-png.com/png/54/54131.png" alt="">
                        </figure>
                        <div class="titre-directories">
                            <p class="title is-5 centrer">{{dir.name}}</p>
                        </div>        
                </div>
                <!-- Si il y a des médias l'application affiche ce tableau -->
                <table cellpadding="0" cellspacing="0" width="100%" class="medias">
                    <tr style="cursor:move" *ngFor="let media of data.medias" [alx-draggable]="media">
                        <td class="media-title">
                            {{ media.title }} — {{ media.creator }}
                        </td>
                        <td class="media-duration">
                            {{media.duration}}
                        </td>
                    </tr>
                </table>
            </section>
        </section>
    </section>
</section>
