section header span.up {
    color: lightgrey;
}

section header span.up.active {
    color: black;
}

@keyframes slide-dir{
    from{margin-left:100px}
    to  {margin-left:  0px}
}

section.original, section.clone {
    background: white;
    position: relative;
}

section {
    opacity: 1;
}

section.clone {
    transition: opacity .3s ease-in;
    opacity: 0;
}

section.original {
    animation-name: slide-dir;
    animation-duration: .3s;
}

section.original tr:active td {
    background-color: lightgreen;
    padding: 8px 0px;
}

.responsive-image{
    height: 100% !important;
    width:auto !important;
}

.data-directories{
    padding: 5px;
    margin : 5px;
    max-width: 140px;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
    -moz-box-shadow: 2px 2px 5px 0px #c0c0c0;
    -webkit-box-shadow: 2px 2px 5px 0px #c0c0c0;
    -o-box-shadow: 2px 2px 5px 0px #c0c0c0;
    box-shadow: 2px 2px 5px 0px #c0c0c0;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 185px;
}

.titre-directories{
    display: flex;
    align-items: center;
    justify-content: center;
}

.centrer {
    text-align: center;
}

.flex-media-broser{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-right: 5px;
    padding-left: 5px;    
}

.titre{
    text-align: center;
    margin-bottom: 3px;
}

.button-back{
    margin-left: 10px;
    top: 25px;
}

.barre-broser-media{
    padding: 5px;
    margin-bottom: -15px;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
    -moz-box-shadow: 2px 2px 5px 0px #c0c0c0;
    -webkit-box-shadow: 2px 2px 5px 0px #c0c0c0;
    -o-box-shadow: 2px 2px 5px 0px #c0c0c0;
    box-shadow: 2px 2px 5px 0px #c0c0c0;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=5);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.margin-top-20{
    margin-top: 20px;
}

.browser-media-music{
    width: 300px;
    padding: 5px;
    margin : 5px;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
    -moz-box-shadow: 2px 2px 5px 0px #c0c0c0;
    -webkit-box-shadow: 2px 2px 5px 0px #c0c0c0;
    -o-box-shadow: 2px 2px 5px 0px #c0c0c0;
    box-shadow: 2px 2px 5px 0px #c0c0c0;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 78px;
}

.browser-media-movie{
    width: 300px;
    padding: 5px;
    margin : 5px;
    border-color: #ddd;
    border-width: 1px;
    border-style: solid;
    -moz-box-shadow: 2px 2px 5px 0px #c0c0c0;
    -webkit-box-shadow: 2px 2px 5px 0px #c0c0c0;
    -o-box-shadow: 2px 2px 5px 0px #c0c0c0;
    box-shadow: 2px 2px 5px 0px #c0c0c0;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=134, Strength=5);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 108px;
}

/* Texte défilant */

.defileParent {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    table-layout: fixed;
    width: 217px;
}
.defile {
    display:block;
    -webkit-animation:linear marqueelike 20s infinite ;
    -moz-animation:linear marqueelike 20s infinite ;
    -o-animation:linear marqueelike 20s infinite ;
    -ms-animation:linear marqueelike 20s infinite ;
    animation:linear marqueelike 20s infinite ;
    margin-left:-100%;
    padding:0 5px;
    text-align:left;
    height:24px;
}

/*
.defile:after {
    content:attr(data-text);
    position:absolute;
    white-space:nowrap;
    padding-left:10px;
}*/

@-webkit-keyframes marqueelike {
    0%, 100% {margin-left:0;}
    99.99% {margin-left:-100%;}
 }
@-moz-keyframes marqueelike {
    0%, 100% {margin-left:0;}
    99.99% {margin-left:-100%;}
 }
@-o-keyframes marqueelike {
    0%, 100% {margin-left:0;}
    99.99% {margin-left:-100%;}
 }
@-ms-keyframes marqueelike {
    0%, 100% {margin-left:0;}
    99.99% {margin-left:-100%;}
 }
@keyframes marqueelike {
    0%, 100% {margin-left:0;}
    99.99% {margin-left:-100%;}
 }

.inside-media{
    margin-top: -64px;
    margin-left: 69px;
}

.titre-directories p {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
   line-height: 1.2;        /* fallback */
   max-height: 2.4;       /* fallback */
}
