
<!-- Explication des attributs de la balise section :
– alx-drag-css = "dropCandidate" : si un media est "dragged" la classe CSS du renderer est dropCandidate
– alx-drag-over-css = "canDrop" : si le media dragé est au niveau du renderer la classe CSS canDrop s'applique
– (swipeleft)="Log('swipeleft')" : le sipe est détectable et peut déclencher une fonction
– (press)="Log('press')" : idem pour le press
– [class.playing]="isPlaying()" : la classe CSS .playing s'active si un media est lu
– #rootSection : équivalent à id="rootSection" mais à n'utiliser qu'avec un appel de classe Javascript (cf. plus bas)
-->
<section alx-dropzone
         [alx-accept-function]  = "isMedia"
         (alx-ondrop)           = "loadMedia($event)"
         alx-drag-css           = "dropCandidate"
         alx-drag-over-css      = "canDrop"
         (swipeleft)="Log('swipeleft')"
         (press)="rootSection.classList.toggle('truc')"
         [class.playing]="isPlaying()"
         #rootSection
>
<div class="columns">
  <div class="column is-2">
  <!-- marge de deux-->
  </div>
  <div class="column is-5">
    <div class="card is-fullwidth">
      <header class="card-header">
      <div *ngIf="currentMedia">
        <p class="card-header-title">
          {{currentMedia.title}}
        </p>
      </div>
		<div *ngIf="!currentMedia">
        <p class="card-header-title">
          {{nf.name}}
        </p>
      </div>
      </header>
      <div class="card-content">
        <div *ngIf="!currentMedia" class="content">
          <!-- Si aucun Media -->
            <img src="{{nf.iconURL}}">
        </div>
        <div *ngIf="currentMedia" class="content">
          <!-- si c'est une musique -->
            <img *ngIf="isMusic()" src="{{currentMedia.albumarturi}}">
          <!-- si c'est une video -->
          <video *ngIf="isVideo()" width="320" height="240" controls>
              <source src="{{currentMedia.ressource}}">
          </video> 
        </div>
      </div>
      <footer class="card-footer">
        <div classs="card-footer-item"><a *ngIf="!isPlaying()" class="button is-info" (click)="play ();"><i class="fa fa-play"></i></a></div>
        <div classs="card-footer-item"><a *ngIf="isPlaying()" class="button is-info" style="background-color: #7a7a7a;"><i class="fa fa-play"></i></a></div>
        <div classs="card-footer-item"><a *ngIf="isPlaying()" class="button is-info" (click)="pause()"><i class="fa fa-pause"></i></a></div>
        <div classs="card-footer-item"><a *ngIf="!isPlaying()" class="button is-info" style="background-color: #7a7a7a;"><i class="fa fa-pause"></i></a></div>
        <div classs="card-footer-item"><a *ngIf="!isStopped()" class="button is-info" (click)="stop ()"><i class="fa fa-stop"></i></a></div> 
        <div classs="card-footer-item"><a *ngIf="isStopped()" class="button is-info" style="background-color: #7a7a7a;"><i class="fa fa-stop"></i></a></div> 
        <div classs="card-footer-item">
         <paper-slider
            min   = "0"
            max   = "100"
            [ngModel]       = "volume"
            (ngModelChange) = "setVolume($event)"
          >
          </paper-slider>
        </div>
        <div classs="card-footer-item">
          <a class="button is-info" *ngIf="isMute()" (click)="stopMute()"><i class="fa fa-volume-off" aria-hidden="true"></i></a>
          <a class="button is-info" *ngIf="isVolumeDown()"  (click)="startMute()"><i class="fa fa-volume-down"></i></a>
          <a class="button is-info" *ngIf="isVolumeUp()"    (click)="startMute()"><i class="fa fa-volume-up"></i></a>
        </div>
      </footer>
    </div>
  </div>
  <div class="column is-1"></div>
  <div *ngIf="currentMedia" class="column is-3">
    <div class="card is-fullwidth">
		<!-- Si il y a une image -->
      <header *ngIf="isImg()" class="card-header">
        <p *ngIf="isMusic()" class="card-header-title">{{currentMedia.creator}}</p>
		<p *ngIf="isVideo()" class="card-header-title">Affiche</p>
          <a class="card-header-icon">
          <i class="fa fa-angle-down"></i>
        </a>
      </header>
      <div *ngIf="isImg()" class="card-content">
        <img src="{{currentMedia.albumarturi}}">
      </div>
	  <!-- affichage des informations -->
      <header class="card-header">
        <p class="card-header-title">Informations</p>
        <a class="card-header-icon">
          <i class="fa fa-angle-down"></i>
        </a>
      </header>
      <div class="card-content">
        <div *ngIf="isTitle()">
          Titre : {{currentMedia.title}}
        </div>
        <div *ngIf="isDuration()">
          Durée : {{getDuration()}}
        </div>
		<div *ngIf="isDate()">
          Date de sortie : {{getDateLocal(currentMedia.date)}}
        </div>
		<div *ngIf="isGenres()">
          Genre : {{currentMedia.genres}}
        </div>
        <div *ngIf="isDescription()">
          Description : <p>{{currentMedia.longdescription}}</p>
        </div>
      </div>
      <header *ngIf="isActor()" class="card-header">
        <p class="card-header-title">Acteur</p>
          <a class="card-header-icon">
          <i class="fa fa-angle-down"></i>
        </a>
      </header>
      <div *ngIf="isActor()" class="card-content"> 
        <ul>
          <li *ngFor="let actor of currentMedia.actors">{{actor}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>



<!-- Explication des attributs de la balise section :
– alx-drag-css = "dropCandidate" : si un media est "dragged" la classe CSS du renderer est dropCandidate
– alx-drag-over-css = "canDrop" : si le media dragé est au niveau du renderer la classe CSS canDrop s'applique
– (swipeleft)="Log('swipeleft')" : le sipe est détectable et peut déclencher une fonction
– (press)="Log('press')" : idem pour le press
– [class.playing]="isPlaying()" : la classe CSS .playing s'active si un media est lu
– #rootSection : équivalent à id="rootSection" mais à n'utiliser qu'avec un appel de classe Javascript (cf. plus bas)
-->

<!-- nf est l'objet media lu par le renderer. pour connaître les informations accessibles, regardez le json tracé dans le renderer -->
<!---<p>• {{nf.name}}</p>
    <paper-card heading="Card Title">
        <div class="card-content">Some content</div>
        <div class="card-actions">
        <section class="media-controls">
            <button *ngIf="!isPlaying()" (click)="play ();">play</button>
            <button *ngIf=" isPlaying()" (click)="pause()">pause</button>
            <button *ngIf="!isStopped()" (click)="stop ()">stop</button>
        </section>
            <paper-slider
                min   = "0"
                max   = "100"
                [ngModel]       = "volume"
                (ngModelChange) = "setVolume($event)"
            >
            </paper-slider>
        </div>
    </paper-card>


  <!--  <section class="media-controls">
        <button *ngIf="!isPlaying()" (click)="play ();">play</button>
        <button *ngIf=" isPlaying()" (click)="pause()">pause</button>
        <button *ngIf="!isStopped()" (click)="stop ()">stop</button>
    </section>

    <section class="volume">
      <! paper-slider est une extension permettant de créer un… slider. Il peut être stylé en CSS -->
       <!-- <paper-slider
                min   = "0"
                max   = "100"
                [ngModel]       = "volume"
                (ngModelChange) = "setVolume($event)"
        ></paper-slider>
    </section>-->

    <!-- Cette section comporte des infos complémentaires sur le media en cours de lecture. Il affiche la durée du média, l'image si elle est dispo, et le json complet des métadonnées du media -->
    <!--<section *ngIf="currentMedia">
        <!--Duration: {{currentMedia.duration}}<br />-->
        <!--<img src="{{ currentMedia.icon }}" style="max-width:100px" /><br/>-->
        <!--currentMedia object:<br />
        <code>{{currentMedia | json}}</code>
    </section>
  </section>-->